@charset "utf-8";
@use "./normalize.scss";

//variables
$color-base: #e9eef0;
$color-black: #343636;
$color-gray: #767b7b;
$color-gray-light: #979b9b;
$color-gray-alpha: rgba(230, 233, 234, 0.8);
$color-white: #fff;

html {
  font-size: 62.5%;
}

body {
  background-color: $color-base;
  font-family: 'Croissant One', cursive;
  font-family: 'Shippori Mincho', serif;
  font-size: clamp(1.6rem, calc(20 / 1366 * 100vw), 2rem);
  min-height: 0vw;
  color: $color-black;
  box-sizing: border-box;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: $color-black;
}

ul {
  list-style-type: none;
}

h1, h2, h3, h4 {
  font-weight: 400;
}

//break
.break__sp {
  display: none;
  @media (max-width: 768px) {
    display: block;
  }
}
.break__pc {
  display: block;
  @media (max-width: 768px) {
    display: none;
  }
}

//main 
.main {
  position: relative;
  font-size: clamp(1.4rem, calc(16 / 1366 * 100vw), 1.6rem);
  min-height: 0vw;
  &::after {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    background-image:radial-gradient($color-black 30%, transparent 30%);
    background-size: .4rem .4rem;
    opacity: .2;
    z-index: -1;
    content: "";
    @media (max-width: 768px) {
      background-image:radial-gradient($color-gray-light 30%, transparent 30%);
    }
  }
}

//header
.header {
  position: fixed; 
  z-index: 1;

  &__logo {
    font-family: 'Croissant One', cursive;
    padding: 1rem;
    font-size: clamp(1.8rem, calc(24 / 1366 * 100vw), 2.4rem);
    min-height: 0vw;
    letter-spacing: .05em;
  }
}

//first view
.first-view {
  display: grid;
  place-content: center;
  height: 100svh;
  padding: 2rem;

  @media (max-width: 768px) {
    padding: 1rem;
  }
  &__heading {
    margin-top: 0;
    font-size: clamp(4.8rem, calc(96 / 1366 * 100vw), 9.6rem);
    min-height: 0vw;
    font-family: 'Bona Nova', serif;
    text-align: center;
  }

  &__lead {
    font-size: clamp(1.4rem, calc(24 / 1366 * 100vw), 2.4rem);
    min-height: 0vw;
    color:  $color-gray;
    font-family: 'Bona Nova', serif;
    text-align: center;
  }

}

// section
.section {
  &__inner {
    margin: 5rem 2rem;
    padding: 3rem;
    background-color: rgba(255, 255, 255, .2);
    backdrop-filter: blur(.5rem);
    border: .1rem solid rgba(255, 255, 255, 0.4);
    border-right-color: rgba(255, 255, 255, 0.2);
    border-bottom-color: rgba(255, 255, 255, 0.2);
    border-radius: 2rem;
    @media (max-width: 768px) {
      margin: 4rem 1rem;
      padding: 2rem 1rem;
      border-radius: 1rem;
    }
  }

  &__heading {
    margin-top: 0;
    margin-bottom: 3rem;
    color: $color-gray;
    font-size: clamp(3.2rem, calc(48 / 1366 * 100vw), 4.8rem);
    min-height: 0vw;
    font-family: 'Bona Nova', serif;

    @media (max-width: 768px) {
      margin-bottom: 2rem;
    }
  }

  &__heading_sub {
    margin-left: 2rem;
    font-size: clamp(1.4rem, calc(32 / 1366 * 100vw), 3.2rem);
    min-height: 0vw;
    color: $color-gray-light;

    @media (max-width: 768px) {
      margin-left: 1rem;
    }
  }

  &__layout_has-col {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 4rem;

    @media (max-width: 768px) {
      gap: 2rem;
    }
  }
}

//sub section 
.sub-section {
  &__heading {
    margin-top: 0;
    font-size: clamp(1.6rem, calc(18 / 1366 * 100vw), 1.8rem);
    min-height: 0vw;
  }
}


//desc
.desc {
  &__title {
    margin-bottom: .5rem;
  }
}

//list 
.list {
  &__item {
    margin-bottom: 1rem;
  }
}

//cards
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 3rem;
  @media (max-width: 768px) {
    gap: 2rem;
  }
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 1rem;
  background-color: $color-gray-alpha;
  border: .1rem solid rgba(255, 255, 255, 0.4);
  border-right-color: rgba(255, 255, 255, 0.2);
  border-bottom-color: rgba(255, 255, 255, 0.2);
  overflow: hidden;
  @media (max-width: 768px) {
    padding: 1rem;
  }

  @media(hover: hover) {
    &:hover::after {
      position: absolute;
      top: -100%;
      left: -100%;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(100deg,  rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, .6) 70%, rgba(255, 255, 255, 0) 0%);
      animation: shiny .7s ease-in-out 1 none;
      content: '';
    }
  }
  @keyframes shiny {
    0% {
        transform: scale(1) rotate(25deg);
        opacity: 1;
    }
    100% {
        transform: scale(30) rotate(25deg);
        opacity: 0;
    }
  }
  &__text {
    color: $color-gray;
    font-size: clamp(1.2rem, calc(14 / 1366 * 100vw), 1.4rem);
    min-height: 0vw;
  }
  &__image {
    order: -1;
    height: auto;
    aspect-ratio: 16 / 9;
    object-fit: cover;
  }
}

//list 
.list {
  &__item {
    position: relative;
  }
  &__item::before {
    position: absolute;
    left: -1rem;
    top: .5em;
    background-color: $color-gray;
    width: .3rem;
    height: .3rem;
    content: "";
  }
}

//list child
.list-child {
  &__item {
    position: relative;
    margin-bottom: 0.5rem;
  }
  &__item::before {
    position: absolute;
    left: -1rem;
    top: .5em;
    background-color: $color-gray;
    width: .5rem;
    height: .1rem;
    transform: translateY(50%);
    content: "";
  }
}

//canvas 
.canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}

.copyright {
  padding-right: 2rem;
  padding-left: 2rem;
  color: $color-gray;
  text-align: right;
  @media (max-width: 768px) {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}
